{% extends 'base.html.twig' %}

{% block page_title %}
  <h2>Edit Portfolio <em>{{ name }}</em></h2>
{% endblock %}

{% block content %}
  <form class="portfolio-form" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" value="{{ name }}" size="40" required>
    <div class="portfolio-row portfolio-headers">
      <div class="portfolio-header">
        Position
      </div>
      <div class="portfolio-header">
        Weight
      </div>
    </div>
    <div class="portfolio-row portfolio-position-row">
      <button type="button" class="drag-handle">
        <i class="material-icons">drag_indicator</i>
      </button>
      <div class="portfolio-position">
        <label for="position_1" class="visually-hidden">
          Position 1
        </label>
        <select name="position_1">
          {% for fund in funds %}
            <option value="{{ fund.symbol }}">{{ fund.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="portfolio-weight">
        <label for="weight_1" class="visually-hidden">
          Allocation for Position 1
        </label>
        <input type="number" name="weight_1" size="3" min="0" max="100" step="0.1">
        <span class="input-decorator percent-decorator">%</span>
      </div>
      <button type="button" class="position-delete">
        <i class="material-icons">delete</i>
      </button>
    </div>
    <div class="portfolio-row portfolio-totals">
      <button type="button" class="drag-handle" disabled>
        <i class="material-icons">drag_indicator</i>
      </button>
      <div class="portfolio-actions">
        <button type="button" id="add-position">Add Position</button>
      </div>
      <div class="portfolio-weight">
        <label class="visually-hidden" for="total_weight">
          Total
        </label>
        <input type="text" name="total_weight" readonly>
        <span class="input-decorator percent-decorator">%</span>
      </div>
      <button type="button" class="position-delete" disabled>
        <i class="material-icons">delete</i>
      </button>
    </div>
    <div class="form-actions">
      <input type="submit" value="Submit">
    </div>
  </form>
  <template id="portfolio-row">
    <div class="portfolio-row portfolio-position-row">
      <button type="button" class="drag-handle">
        <i class="material-icons">drag_indicator</i>
      </button>
      <div class="portfolio-position">
        <label class="visually-hidden">
        </label>
        <select>
          {% for fund in funds %}
            <option value="{{ fund.symbol }}">{{ fund.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="portfolio-weight">
        <label class="visually-hidden">
        </label>
        <input type="number" size="3" min="0" max="100" step="0.1">
        <span class="input-decorator percent-decorator">%</span>
      </div>
      <button type="button" class="position-delete">
        <i class="material-icons">delete</i>
      </button>
    </div>
  </template>
{% endblock %}
