{% set menu_hidden = app.request().cookie('menu_hidden') %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Investments Analyzer | {{ title }}</title>
    {% block stylesheets_before %}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" rel="stylesheet">
    <link href="{{ urlFromPath('/app/dist/app.css') }}" rel="stylesheet" type="text/css">
    {% block stylesheets_after %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      <main>
        {% block main %}
          <div class="content {% if menu_hidden == 'true' %}menu-hidden{% endif %}">
            {% block page_title %}
              <h2>{{ title }}</h2>
            {% endblock %}
            {% include 'messages.html.twig' %}
            {% block content %}
              {{ content }}
            {% endblock %}
          </div>
          <div class="menu {% if menu_hidden == 'true' %}hidden{% endif %}">
            {% block menu %}
              {% include 'menu.html.twig' %}
            {% endblock %}
          </div>
        {% endblock %}
      </main>
    {% endblock %}
  </body>
  {% block settings %}
  <script type="text/javascript">
    window.settings = Object.freeze({{ app.settings.window ?? []|json_encode() }});
  </script>
  {% endblock %}
  {% block javascripts_before %}
  {% endblock %}
  <script type="text/javascript" src="{{ urlFromPath('/app/dist/app.bundle.js') }}" async></script>
  {% block javascripts_after %}
  {% endblock %}
</html>
