{% extends 'base.html.twig' %}

{% block content %}
  <table>
    <thead>
      <th>Symbol</th>
      <th>Name</th>
      <th>Operations</th>
    </thead>
    <tbody>
      {% for fund in funds %}
        <tr>
          <td class="symbol">{{ fund.symbol }}</td>
          <td class="name">{{ fund.name }}</td>
          <td class="operations">
            <div>
              <button type="button" onclick="window.location.href='{{ urlFromPath('/funds/' ~ fund.symbol) }}'">
                <i class="material-icons">article</i>Positions
              </button>
              <button type="button" onclick="window.location.href='{{ urlFromPath('/funds/' ~ fund.symbol ~ '/edit') }}'">
                <i class="material-icons">edit</i>Edit
              </button>
              <button type="button" onclick="window.location.href='{{ urlFromPath('/funds/' ~ fund.symbol ~ '/delete') }}'">
                <i class="material-icons">delete</i>Delete
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <input type="button" value="Create Fund" onclick="window.location.href='{{ url('funds_create_view') }}'">
  </div>
{% endblock %}
