{% extends 'base.html.twig' %}

{% block content %}
  <table>
    <thead>
      <th>Symbol</th>
      <th>Name</th>
      <th>Operations</th>
    </thead>
    <tbody>
      {% for security in securities %}
        <tr>
          <td class="symbol">{{ security.symbol }}</td>
          <td class="name">
            <a href="{{ urlFromPath('/securities/' ~ security.symbol) }}">
              {{ security.name }}
            </a>
          </td>
          <td class="operations">
            <div>
              <button type="button" onclick="window.location.href='{{ urlFromPath('/securities/' ~ security.symbol ~ '/edit') }}'">
                <i class="material-icons">edit</i>Edit
              </button>
              <button type="button" onclick="window.location.href='{{ urlFromPath('/securities/' ~ security.symbol ~ '/delete') }}'">
                <i class="material-icons">delete</i>Delete
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
